/*------------
estilo Global
------------*/

@font-face {
    font-family: ja;
    src: url("..//Games-Italic.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,200&family=Mulish:ital,wght@0,300;0,400;1,200&family=Oswald:wght@200;600;700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,200&family=Mulish:ital,wght@0,300;0,400;1,200&family=Oswald:wght@200;600;700&family=Roboto:wght@100&family=Victor+Mono:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/fondo.png);
    background-size: cover;
}


/*----------------
estilo Encabezado
-----------------*/

.logo {
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 40px;
    border: solid rgb(89, 10, 141);
}

h1 {
    box-sizing: border-box;
    color: azure;
    font-size: 46px;
    text-align: center;
    font-family: ja;
}

header {
    box-sizing: border-box;
    background: rgb(20, 4, 98);
    padding: 35px;
    position: relative;
    color: aliceblue;
}


/*------------
estilo Contenido
------------*/

.contenido {
    width: 1000px;
    height: 815px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-block-end: 5%;
    padding: 100px 200px 90px 200px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    border-radius: 2%;
    background-color: rgb(85, 30, 214);
    color: aliceblue;
}

.img-cont {
    width: 280px;
    float: right;
    padding: 40px;
    position: relative;
    border-radius: 20px;
}


/*------------
Estilo Menu de navegacion
------------*/

.menu {
    background: rgb(20, 4, 98);
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    
}

ul a {
    text-decoration: none;
    color: #000000;
    background-color: rgb(234, 181, 255);
    padding: 10px 16px;
    border-radius: 5px;
    opacity: 0.6;
    font-size: 26px;
    display: inline-block;
    outline: none;
    margin: 4px;
    transition: 0.2s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li a.activo {
    background-color: rgb(116, 116, 116);
    transform: none;
}

ul li a:hover {
    opacity: 1;
}


/*	diseño responsivo*/

@media (max-width: 600px) {
    .form-basico {
        padding: 30px;
        max-width: 480px;
    }
    .form-basico .entrada {
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }
    .form-basico .titulo {
        margin-bottom: 50px;
    }
    .form-basico .entrada>label span {
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }
    .form-basico select {
        width: 240px;
    }
    .form-basico input[type=checkbox] {
        margin-top: 0;
    }
    .form-basico .opciones>div {
        margin: 0 0 10px;
    }
    .form-basico button {
        margin: 0;
    }
}


